* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 1.5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
}





.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: 20%;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}



/*-----------------------------*/
 
.logo img {
    width: 80px;  
    height: 80px; 
}





.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.recipe-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 80%;
}

.recipe-text {
    width: 60%;
}

.recipe-image {
    width: 35%;
    text-align: center;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-title, .recipe-info {
    color: #333;
}

.recipe-info {
    color: #666;
    line-height: 1.6;
    font-weight: bold;
    padding-top: 10px;
}


header {
    background-color: #3fa9f5;
    color: white;
    padding: 20px;
    text-align: center;
}

.recipe-text, .recipe-image {
    width: 100%; /* Use the full width for both text and image */
}

.recipe-image img {
    max-width: 100%; /* Ensure the image uses the full width of its container */
    height: auto; /* Maintain the aspect ratio */
}


@media (max-width: 800px) {
    .recipe-card {
        flex-direction: column; /* Stack the elements vertically */
    }
}